* {
    box-sizing: border-box;
}

html {
    background: linear-gradient(#374151, #111827);
    max-width: 1440px;
    height: auto;
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
}

header {
    max-width: 1080px;
    height: 35px;
    margin: 72px auto 0;
    display: flex;
    justify-content: center;
    gap: 77px;
}

.logo {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
    display: flex;
    gap: 11px;
}

.text_logo {
    width: 80px;
    height: 21px;
    margin: 8px 0;
}

#square {
    width: 35px;
    height: 35px;
    background: #4B5563;
    border-radius: 3px;
    background-image: url(./images/B.svg);
    background-repeat: no-repeat;
    background-position: 13px;
    box-shadow: 0px 15px 30px 0px #00000026;
}

header a {
    font-size: 18px;
    font-weight: 400;
    line-height: 18.75px;
    color: #FFFFFF;
    text-decoration: none;
}

nav {
    flex: 1;
}

nav ul {
    padding: 0;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 9px 0;
}

#search {
    background-image: url(./images/lupa.svg);
    background-repeat: no-repeat;
    background-position: 18px;
    outline: none;
    font-size: 16px;
    color: #FFFFFF;
    width: 224px;
    height: 40px;
    border-radius: 100px;
    background-color: #31353E;
    border: none;
    padding: 10px 50px;
}

main {
    margin: 70px auto 0;
}

#date {
    color: #9f9d9d;
    width: 180px;
    height: 16px;
    padding: 0;
    margin: 0 auto 0;
    display: flex;
    gap: 12px;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
}

h1 {
    color: #FFFFFF;
    margin: 14px auto 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    max-width: 525px;
    text-align: center;
    font-family: "Roboto";
    line-height: 38px;
}

.developer {
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    font-family: "Roboto";
    width: 214px;
    height: auto;
    display: flex;
    gap: 16px;
    margin: 30px auto 0;
}

.meta {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 16px;
    color: #FFFFFF;
}

.prof {
    font-size: 14px;
    color: #B7B6B6;
    margin: 0px;
}

.mac img {
    display: flex;
    justify-content: center;
    margin: 30px auto 0;
    width: 100vw;
    max-width: 896px;
    max-height: 594px;
}

section.text {
    max-width: 708px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 70px auto 0;
}

section.text>p {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
}

section.text>p:first-child {
    font-size: 20px;
    line-height: 32px;
}

footer {
    margin: 90px auto 77px;
    color: #9f9d9d;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: "Roboto";
}

.text_footer {
    margin: 0 auto 77px;
    height: 28px;
    width: 226px;
}